
form {
    display: flex;
    flex-direction: column;
    background-color: #f0ffff75;
    gap: 1.2rem;
    height: 100%;
    align-items: center;
    font-size: 1.9rem;
    text-align: center;
    border-radius: 1rem;
    width: 50%;
}
.formulario{
    display: flex;
    width: 50%;
    padding: 20px;
    height: 25rem;
    margin: 0 auto;  
}
.formulario >#name ,#password {
    width: 20rem;
    height: 2rem;
    text-align: center;
    margin: 0 auto;
    border-radius: 0.5rem;
    border: 1px solid #000;
    padding: 0.5rem;
}
input[type="submit"] {
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid #000;
    padding: 0.5rem;
    background-color: #000000;
    color: #fff;
    /*font-weight: bold;*/
}
input[type="submit"] {
    margin-bottom: 2rem;
}  
.showpass {
    display: flex;
    width: 20rem;
    font-size: 1.5rem;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    
}
