.form {
    margin-top: 10rem;
}
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 35rem;
    font-size: 2rem;
    background-color: #f0ffff75;
    border-radius: 12px;
    gap: 1rem;
}
.formulario #name ,#email ,#password ,#password2 {
    width: 20rem;
    height: 2rem;
    text-align: center;
    margin: 0 auto;
    border-radius: 0.5rem;
    border: 1px solid #000;
    padding: 0.5rem;
}
input[type="submit"] {
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid #000;
    padding: 0.5rem;
    background-color: #000000;
    color: #fff;
    /*font-weight: bold;*/
}
input[type="submit"] {
    margin-bottom: 2rem;
}
.showpass {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    
}
